# Ignorar archivos de sistema Mac
.DS_Store
.localized

# Ignorar imágenes y videos
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# Ignorar documentos de Office y PDFs
*.docx
*.doc
*.pdf

# Ignorar archivos de Excel y temporales
*.xlsx
*.xls
~$*

# Ignorar carpetas innecesarias
TINAJAS SERCOTEC/
api-excel-gpt/
"diseños Hotel/"

# Otros archivos temporales
*~


